<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../bower_components/core-dropdown-menu/core-dropdown-menu.html"/>
<link rel="import" href="../../bower_components/core-item/core-item.html" />
<link rel="import" href="../ui/mc-app-themes.html" />

<link rel="import" href="../ui/mc-ui-base.html" />

<polymer-element name="mc-categories-selector" extends="mc-ui-base" attributes="selectedCategory error">
    <template>
        <core-style ref="main-theme"></core-style>
        <div class="form-group">
            <label class="control-label">[[$$('promo.category')]]</label>
            <core-dropdown-menu hidden?="{{isLoading}}" id="categoryDropdown" halign="right" selected="{{selectedCategory}}" valueattr="value" on-core-select="{{onCategorySelected}}">
                <template repeat="{{category in categories}}">
                    <core-item label="{{category.Name}}" value="{{category.CategoryId}}"></core-item>
                </template>
            </core-dropdown-menu>
            <span class="field-error">{{error}}</span>
        </div>
    </template>
    <script>
        Polymer({
            categories: [],
            isLoading:false,
            publish: {
                loadCategories: function (selectedCategory) {
                    var self = this;
                    self.isLoading = true;
                    this.ajaxGo({
                        url: 'api/categories',
                        method: 'GET',
                        responseCallback: function(e) {
                            this.categories = e.detail.response;
                            if (selectedCategory) {
                                this.selectedCategory = selectedCategory;
                            }
                            self.isLoading = false;
                        }
                    }, false);
                }
            },
            onCategorySelected: function() {
                this.error = '';
            }
        });
    </script>
</polymer-element>