<link rel="import" href="../../bower_components/paper-slider/paper-slider.html" />

<polymer-element name="mc-time-slider" extends="paper-slider">
    <template>
        <style>
            :host {
                display: inline-block;
                cursor: default;
                width: 100%;
            }

             #sliderContainer {
                 width: 100%;
             }

        </style>
        <shadow></shadow>
    </template>
    <script>
        Polymer({

        });
    </script>
</polymer-element>
